html,
body {
	font: normal 400 1em montserrat;
	margin: auto;
}

/* сетка гридов: */

.grid-wrapper {
	display: grid;
	grid-template-columns: 400px auto;
	grid-template-rows: 830px auto;
	margin: auto;
	max-width: 1440px;
}

.grid-wrapper-right-top {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 420px auto;
}

/* about block 1440px */

.about {
	background: #231E1B;
}

.about__name-logo {
	margin-bottom: .5em;
}

.name-logo {
	color: #fff;
	font: normal 400 2.5em lobster;
	padding-top: .36em;
	text-align: center;
}

.about__about-subtitle {
	margin: 0 auto 2.6em;
}

.about-subtitle {
	color: #fff;
	font: normal 400 2em montserrat;
	letter-spacing: .08em;
	text-align: center;
}

.contacts__contacts-subtitle {
	margin-bottom: 1.1em;
}

.contacts-subtitle {
	color: #fff;
	font: normal 700 1em montserrat;
	letter-spacing: .08em;
	text-align: center;
}

.contacts__avatar {
	margin: 0 auto 1em;
}

.avatar {
	background: url(img/avatar.jpg) center;
	border-radius: 50%;
	height: 162px; /*164px*/
	width: 162px; /*164px*/
}

.about-me {
	color: #fff;
	font-size: .9em;
	letter-spacing: .06em;
	text-align: center;
}

.about-me:last-child {
	margin-bottom: 5.55em;
}

.about-footer__phone {
	margin: 0 auto .05em;
}

.phone {
	color: #fff;
	display: block;
	font: normal 700 1.5em montserrat;
	text-align: center;
	text-decoration: none;
}

.about-footer__email {
	margin-bottom: 1em;
}

.email {
	color: #fff;
	display: block;
	font: normal 400 1em montserrat;
	text-align: center;
	text-decoration: none;
	letter-spacing: .08em;
}

.networks {
	display: flex;
	justify-content: space-between;
	max-width: 206px;
	margin: auto;
}

.networks__item {
	display: inline-block;
	height: 38px;
	width: 38px;
}

.networks__item_github {
	background: url(./img/social-networks/github.png) no-repeat;
}

.networks__item_telegram {
	background: url(./img/social-networks/telegram.png) no-repeat;
}

.networks__item_linkedin {
	background: url(./img/social-networks/linkedin.png) no-repeat;
}

.networks__item_twitter {
	background: url(./img/social-networks/twitter.png) no-repeat;
}

/* block - last projects - 1440px */

.last-projects__title-last-projects {
	margin-bottom: .4em; 
}

.title-last-projects {
	color: #231E1B;
	font: normal 700 1.55em montserrat;
	letter-spacing: .055em;
	padding-top: .4em;
	text-align: center;
}

.title-last-projects::before,
.title-last-projects::after {
	background: url(./img/line.png) no-repeat center;
	content: '';
	height: 34px;
	position: absolute;
	width: 36px;
}

.title-last-projects::before {
	transform: translate(-46px, -1px);
}

.title-last-projects::after {
	transform: translate(9px, -1px);
}

.last-projects__projects{
	margin: auto;
}

.projects {
	display: flex;
	justify-content: space-between;
	max-width: 956px;
	padding: 0 1em;
}

.project {
	max-width: 284px;
}

.name-of-project {
	font-size: 1em;
	letter-spacing: .08em;
	padding-top: .1em;
	text-align: center;
}

.project__preview {
	height: 234px;
	width: 284px;
	margin: 0 auto .1em;
}

.project__preview_first-project {
	background: url(./img/projects-cases/axion/preview/preview.png) no-repeat center;
}

.project__description_subtitle {
	font: italic 700 .76em montserrat;
	margin: 0 auto .6em;
}

.project__description_lead {
	font: normal 400 .75em montserrat;
	margin: 0 auto .4em;
}

.link-to-preview {
	color: #231E1B;
	display: inline-block;
	font: normal 400 .76em montserrat;
}

.link-to-preview::after {
	background: url(./img/arrows/arrow-short.png) no-repeat left;
	content: '';
	height: 17px;
	position: absolute;
	transform: translateX(12px);
	width: 19px;
}




.my-skills {
	background: #69c;
}

.title-my-skills {
	color: #231E1B;
	font: normal 700 1.55em montserrat;
	letter-spacing: .055em;
	position: relative;
	text-align: center;
}

.title-my-skills::before,
.title-my-skills::after {
	background: url(./img/line.png) no-repeat center;
	content: '';
	height: 34px;
	position: absolute;
	width: 36px;
}

.title-my-skills::before {
	transform: translate(-46px, -1px);
}

.title-my-skills::after {
	transform: translate(9px, -1px);
}

.wrapper-my-skills {

}

.basic-level-js {}
.skill-js {}
.skill-js_basic {}
.skill-git {}
.skill-html {}
.skill-css {}
.skill-figma {}
.basic-level-php {}
.skill-php {}
.skill-php_basic {}
.basic-level-sql {}
.skill-sql {}
.skill-sql_basic {}
.basic-level-wp {}
.skill-wp {}
.skill-wp_basic {}

