@media (max-width: 650px) {

	/* block last-projects - 650px */

	.title-last-projects {
		font-size: 1.3em;
	}

	.title-last-projects::before,
	.title-last-projects::after {
		height: 28px;
		width: 24px;
	}

	.title-last-projects::before {
		transform: translate(-32px, -1px);
	}

	.title-last-projects::after {
		transform: translate(4px, -1px);
	}

	/* block my-skills - 650px */

	.title-my-skills {
		font-size: 1em;
	}

	.title-my-skills::before,
	.title-my-skills::after {
		height: 22px;
		width: 24px;
	}

	.title-my-skills::before {
		transform: translate(-32px, -1px);
	}

	.title-my-skills::after {
		transform: translate(4px, -1px);
	}

	.wrapper-my-skills {
		background-position: left 18px;
		background-size: 584px;
		height: 110px;
	}

		.animation-asteroids {
	  background: url(./img/animation-asteroids-650px.png) left;
	  height: 40px;
	  left: calc(356px - 90px);
	}

	.dotted-line-js {
	  bottom: 48px;
		height: 18px;
	  left: 96px;
	}

	.dotted-line-git {
	  bottom: 9px;
		height: 88px;
		left: 157px;
	}

	.dotted-line-html {
	  bottom: 16px;
		height: 61px;
		left: 188px;
	}

	.dotted-line-css {
	  bottom: 15px;
		height: 46px;
		left: 231px;
	}

	.dotted-line-figma {
	  bottom: 11px;
		height: 86px;
		left: 265px;
	}

	.dotted-line-php {
	  bottom: 31px;
		height: 54px;
		left: 330px;
	}

	.dotted-line-sql {
	  bottom: 28px;
		height: 22px;
		left: 395px;
	}

	.dotted-line-wp {
	  bottom: 22px;
		height: 62px;
		left: 455px;
	}

	.wrapper-skill-js {
		bottom: 67px;
		left: 68px;
	}

	.wrapper-skill-git {
		bottom: 98px;
		left: 148px;
	}

	.wrapper-skill-html {
		bottom: 78px;
		left: 174px;
	}

	.wrapper-skill-css {
	  bottom: 62px;
		left: 221px;
	}

	.wrapper-skill-figma {
	  bottom: 99px;
		left: 250px;
	}

	.wrapper-skill-php {
	  bottom: 86px;
		left: 319px;
	}

	.wrapper-skill-sql {
	  bottom: 51px;
		left: 376px;
	}

	.wrapper-skill-wp {
	  bottom: 86px;
		left: 427px;
	}

	.skill-js,
	.skill-git,
	.skill-html,
	.skill-css,
	.skill-figma,
	.skill-php,
	.skill-sql,
	.skill-wp {
		font-size: 0.6em;
	}

	.skill-js_basic,
	.skill-php_basic,
	.skill-sql_basic,
	.skill-wp_basic {
		font-size: 0.4em;
	}

	/* block advantages - 650px */

	.title-advantages {
		color: #000;
		font-size: 1.2em;
	}

	.title-advantages::before,
	.title-advantages::after {
		height: 26px;
		width: 24px;
	}

	.title-advantages::before {
		transform: translate(-32px, -1px);
	}

	.title-advantages::after {
		transform: translate(4px, -1px);
	}

}
