@media (max-width: 354px) {

	/* block - last projects - 320px */

	.project {
		max-width: 320px;
	}

	.project__preview {
		max-width: 320px;
	}

	/* block adventages - 320px */

	.title-advantages {
		font-size: 0.9em;
	}

	.title-advantages::before,
	.title-advantages::after {
		height: 21px;
		width: 20px;
	}

	.title-advantages::before {
		transform: translate(-24px, -1px);
	}

	.title-advantages::after {
		transform: translate(3px, -1px);
	}

}
