@media (max-width: 1024px) {

	/* сетка гридов: */

/*	.grid-wrapper {
		display: grid;
		grid-template-columns: minmax(200px, 250px) auto;
		grid-template-rows: minmax(790px, auto) auto;
		margin: auto;
		max-width: 1024px;
	}

	.grid-wrapper-right-top {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 420px auto;
	}
	*/









/*


.advantage__description {
width: 100px;
}
}
*/
